body {
    font-family: "Open Sans", sans-serif;
    color: #555;
}

h1 {
    color: rgb(24, 22, 184);
    background-color: #eee;
}

h2 {
    color:rgb(11, 168, 5);
    background-color: #eee;
}

img {
    height: 100px;
    text-align: left;
}

figcaption span {
    font-size: .85em;
}

p#product-description {
    margin: 20px 0 20px 0;
    text-align: justify;
}

div.review {
    padding: 10px;
    background-color: #eee;
    margin: 20px 0 20px 0;
}